#INDEX {
  position: absolute;
  left: 80%;
  top: 0px;
  z-index: -1;
  margin-top: 50px;
}
/* .IHT {
  position: absolute;
  z-index: -1;
} */
/* #INDEX2 {
  position: absolute;

  z-index: -1;
  margin-top: 50px;
} */
